.header {
    grid-area: h;
    background-color: #BFBFBF;
  }
  
  .header img {
    width: 80px;
    padding: 10px;
  }

  .loginBlock {
    float: right;
  }

  .loginBlock a {
    color: white;
  }